In [1]:
#import the dependencies

import pandas as pd
import gmaps
import requests

#import API key

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cayenne,GF,2022-04-24 14:45:38,4.9333,-52.3333,86.04,9,100,8.05
1,1,Sao Filipe,CV,2022-04-24 14:45:39,14.8961,-24.4956,75.99,69,4,4.36
2,2,Bluff,NZ,2022-04-24 14:45:39,-46.6000,168.3333,52.81,83,91,19.08
3,3,Rikitea,PF,2022-04-24 14:45:39,-23.1203,-134.9692,73.99,79,100,6.49
4,4,Albany,US,2022-04-24 14:45:40,42.6001,-73.9662,57.63,43,93,4.00

In [3]:
# configure gmpas to use google API key

gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna().head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cayenne,GF,2022-04-24 14:45:38,4.9333,-52.3333,86.04,9,100,8.05
1,1,Sao Filipe,CV,2022-04-24 14:45:39,14.8961,-24.4956,75.99,69,4,4.36
7,7,Harper,LR,2022-04-24 14:45:41,4.3750,-7.7169,86.32,67,98,10.51
9,9,Buraydah,SA,2022-04-24 14:45:41,26.3260,43.9750,84.40,27,95,7.16
20,20,Atuona,PF,2022-04-24 14:45:45,-9.8000,-139.0333,78.53,76,27,19.73
22,22,Outram,MY,2022-04-24 14:45:46,1.2829,103.8379,84.18,77,75,5.75
25,25,Jamestown,US,2022-04-24 14:43:35,42.0970,-79.2353,77.02,40,0,7.00
26,26,Kathu,TH,2022-04-24 14:45:47,7.9178,98.3332,76.82,72,72,1.10
32,32,Hithadhoo,MV,2022-04-24 14:45:49,-0.6000,73.0833,84.29,72,91,9.10
34,34,San Borja,BO,2022-04-24 14:45:49,-14.8167,-66.8500,83.12,79,91,4.43

In [18]:
preferred_cities_df.dropna().count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Cayenne      GF     86.04   4.9333  -52.3333
1   Sao Filipe      CV     75.99  14.8961  -24.4956
7       Harper      LR     86.32   4.3750   -7.7169
9     Buraydah      SA     84.40  26.3260   43.9750
20      Atuona      PF     78.53  -9.8000 -139.0333
22      Outram      MY     84.18   1.2829  103.8379
25   Jamestown      US     77.02  42.0970  -79.2353
26       Kathu      TH     76.82   7.9178   98.3332
32   Hithadhoo      MV     84.29  -0.6000   73.0833
34   San Borja      BO     83.12 -14.8167  -66.8500

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found skipping...')

Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...
Hotel not found skipping...

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cayenne,GF,86.04,4.9333,-52.3333,Hôtel Le Dronmi
1,Sao Filipe,CV,75.99,14.8961,-24.4956,Hotel Xaguate
7,Harper,LR,86.32,4.3750,-7.7169,Screensaver
9,Buraydah,SA,84.40,26.3260,43.9750,Mövenpick Qassim
20,Atuona,PF,78.53,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
543,Sokoni,TZ,83.16,-6.4333,39.5500,Ujamaa Beach Resort
544,Hamilton,US,77.20,39.1834,-84.5333,Six Acres Bed & Breakfast
545,Jardim,BR,89.26,-21.4803,-56.1381,Estancia Hotel - Jardim MS
546,Trairi,BR,83.35,-3.2778,-39.2689,janelas do mar
547,Aden,YE,83.88,12.7794,45.0367,Sama Emirate Hotel

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))